@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Noto Sans", sans-serif;
    background-color: #EDEDED;
}

/* Global thin black scrollbar */
/* Firefox */
*{
    scrollbar-width: thin;
    scrollbar-color: #000000 transparent;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
*::-webkit-scrollbar-track{
    background: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: #000000;
    border-radius: 9999px;
}